# Python
__pycache__/
*.py[cod]
*.pyo

# Django local files
backend/db.sqlite3
db.sqlite3

# Virtual environments
venv/
.venv/
env/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store